@tailwind base;
@tailwind components;
@tailwind utilities;

#specialites{

    background: url("../assets/images/specialites.jpg") center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    

}
.backgr {
    background: url("../assets/images/tasse_cafe_table.jpg") center no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}



#anecdotes{
    background-color: #503E3C;
}
.cinzel{
    font-family: 'Cinzel', serif;
}
.karla{
    font-family: 'Karla', serif;
}
#formulaire{
    background-color: #F7F7F7;
}
footer{
    background-color: #503E3C;
    font-family:'Cinzel', serif;
}
input[type=submit]{
    background-color: #2B0B05;
}

.shadow-custom{
    box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1);
}
#boxBO, .bg-custom{
    background-image: url("../assets/images/background_bo.png");
    background-size: cover;
}
.fa-folder-open{
    color: #D6A581;
}
#navbar.scroll{
    background-color: #2B0B05;
    padding: 0;
}